####
# In case the config server is not reachable
####

spring:
  jpa:
    database: "POSTGRESQL"
    show-sql: "true"
    hibernate:
      ddl-auto: "none"
      dialect: "org.hibernate.dialect.PostgreSQLDialect"
  datasource:
    platform: "postgres"
    initialization-mode: "always"
    driverClassName: "org.postgresql.Driver"
    url: "jdbc:postgresql://localhost:5432/quan_local"
    validationQuery: "SELECT 1;"
redis:
  server: "redis"
  port: "6379"
signing.key: ""
logging:
  level:
    root: DEBUG

eureka:
  instance:
    prefer-ip-address: true
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      default-zone: http://localhost:8761/eureka/

logging:
  level:
    root: DEBUG
